body{
	background-color:#444;
	
}

#play{

  display: flex;
  grid-template-rows: center;
  margin: 0px;
  justify-content: center;
  align-items: center;
  
}

#reset{
	visibility:hidden;
}

#name{
  display: flex;
  grid-template-rows: center;
  margin: 50px;
  justify-content: center;
  align-items: center;

}

img{
	margin: 25px;
	border-radius: 40px;
}

p{
	color:white;
	font-weight: bold;
	font-size: 30px
}

#rock:hover {
   box-shadow: 0 0 75px blue; 
}
#paper:hover {
   box-shadow: 0 0 75px yellow; 
}
#scissor:hover {
   box-shadow: 0 0 75px red; 
}

#reset{
	width:100px;
	height: 30px;
	border-radius: 20px;
}

#name input{
	width:120px;
	height: 30px;
	border-radius: 10px;
	text-align: center;
}

#start {
	width:100px;
	height: 30px;
	border-radius: 10px;
}

