body{
	
	
}

#play{

  display: flex;
  grid-template-rows: center;
  margin: 0px;
  justify-content: center;
  align-items: center;
  visibility:hidden;

}

#stop{
	visibility:hidden;
}

#name{
  display: flex;
  grid-template-rows: center;
  margin: 0px;
  justify-content: center;
  align-items: center;

}

img{
	margin: 25px;
	border-radius: 25px;
}

p{
	color:black;
}



